body {
  font-family: sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

header div {
  display: flex;
  background-color: maroon;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

header nav {
  background-color: grey;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
}

main {
  display: flex;
}

.left img {
  max-width: 100%;
}

section {
  padding: 20px;
}

.left {
  flex: 3;
}

.museum_info {
  padding: 15px;
}

aside:nth-child(2) {
  margin-top: 75px;
  margin-bottom: 75px;
}

footer {
  background-color: grey;
  padding: 10px 20px;
}
